<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="parts/common.html::header">
</head>
<body>
<div>
    <div th:replace="parts/common.html::body"></div>
    <div class="container">
        <form th:action="@{/login}" method="post">
            <fieldset>
                <legend>Please login</legend>
                <div th:if="${param.error}" class="alert alert-error">
                    Invalid username and password
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                    You logged out
                </div>
                <div th:replace="parts/loginfrom.html::form(isloginpage=true)"></div>
            </fieldset>
        </form>

    </div>
</div>
</body>
</html>
