<html>
<body>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    </form>
    <span><a href="/user">User list</a> </span>
</div>
<div>
    <form method="post" , action="add" enctype="multipart/form-data">
        <input type="text" , name="text" , placeholder="Введите сообщение">
        <input type="text" , name="tag" , placeholder="Тэг">
        <input type="file" name="file">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Добавить</button>
    </form>
</div>

<div>Список сообщений</div>
<form method="post" , action="filter">
    <input type="text" , name="filter">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <button type="submit">Фильтр</button>
</form>
{{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
        <strong>{{authorName}}</strong>
        {{#filename}}
            <img src="/img/{{filename}}">
        {{/filename}}
    </div>
{{/messages}}

<div>Удаление сообщения</div>
<div>
    <form action="remove" , method="post">
        <input type="text" , name="messageId" , placeholder="Введите ID сообщения для удаления">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Удалить</button>
    </form>
</div>
</body>
</html>