<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="parts/common.html::header">
<body>
<div th:replace="parts/common.html::body"></div>
<div class="container">
    <form th:action="@{/user}" th:object="${user}" method="post">
        <label class="me-3">User name</label>
        <input type="text" th:field="*{username}" name="username" value="${user.username}">
        <div></div>
        <label class="my-3 me-3" th:for="rolesTag">Roles</label>
        <th:block th:id="rolesTag" th:each="role:${roles}">
            <label th:text="${role}"></label>
            <input type="checkbox"
                   th:name="${role}"
                   th:checked="${#lists.contains(user.roles, role)}">
        </th:block>
        <input type="hidden" name="userId" th:value="${user.id}">
        <p></p>
        <button type="submit">Save</button>
    </form>
</div>
</body>
</html>