<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="parts/common.html::body"></div>
<div class="container">
    <form th:action="@{/user}" th:object="${user}" method="post">
        <label>User name</label>
        <input type="text" th:field="*{username}" name="username" value="${user.username}">
        <label>Roles</label>
        <div th:each="role:${roles}">
            <label th:text="${role}"></label>
            <input type="checkbox"
                   th:name="${role}"
                   th:checked="${#lists.contains(user.roles, role)}">
        </div>
        <input type="hidden" name="userId" th:value="${user.id}">
        <button type="submit">Save</button>
    </form>
</div>
</body>
</html>