<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="parts/common.html::header">
<body>
<div th:replace="parts/common.html::body"></div>
<div class="container">
    <table class="table table-dark table-striped">
        <thead>
        <th>Name</th>
        <th>Role</th>
        <th></th>
        </thead>
        <tbody class="table-group-divider">
        <tr th:if="${users.empty}">
            <td colspan="2"> No user presented</td>
        </tr>
        <tr th:each="user:${users}">
            <td th:text="${user.username}">Name</td>
            <td th:text="${user.roles}">Role</td>
            <td><a th:href="@{/user/{id}(id=${user.id})}">edit</a></td>
            <!--        todo сделать так, чтобы в метод контроллера приходил сразу класс User -->
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>