<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/registration}" th:object="${user}" method="post">
    <div><input type="text" th:field="*{username}" name="username" placeholder="User name"></div>
    <br>
    <div><input type="text" th:field="*{password}" name="password" placeholder="Password"></div>
    <br>
    <div><input type="submit" value="Sign in"></div>
</form>
</body>
</html>